/* DatePicker Container */
.ui-datepicker {
	padding: 10px;
	background: #fff;
	border-radius: 2px;
	margin: -1px 0 0 0 !important;
	display: none;
}
.ui-datepicker {
	background: #fff;
	height: auto;
	margin: 5px auto 0;
	font: 9pt Arial, sans-serif;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .3);
}
.ui-datepicker a {
	text-decoration: none;
}
/* DatePicker Table */
.ui-datepicker table {
	width: 100%;
}
.ui-datepicker-header {
	background: #404D52;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	border-width: 1px 0 0 0;
	border-style: solid;
	padding: 10px 0;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-image: url('images/date-picker/arrow.png');
	background-repeat: no-repeat;
	line-height: 600%;
	overflow: hidden;
	margin: -9px 0 0 0;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}
.ui-datepicker thead {
	background-color: #f7f7f7;
}
.ui-datepicker th {
	text-transform: uppercase;
	font-size: 6pt;
	padding: 5px 0;
	color: #666666;
}
.ui-datepicker tbody td {
	padding: 0;
}
.ui-datepicker tbody td a:hover {
	background: rgba(67, 188, 233, 0.3);
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}
.ui-datepicker tbody tr {
	border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
	background: #ededed;
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active {
	background: #43bce9;
	color: #fff;
	position: relative;
	margin: -1px;
}
.ui-datepicker-calendar .ui-state-active:hover {
	background: #43bce9;
}

.ui-datepicker-calendar .ui-state-highlight {
	background: rgba(20, 36, 43, 0.23);
}

.ui-datepicker-unselectable .ui-state-default {
	background: #6eafbf;
	color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 29px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 29px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 29px;
	margin-bottom: 0;
}
.ui-datepicker-today a {
	background: rgba(255, 202, 0, 0.5) !important;
}